head
  title Form
  link(ref="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css",rel="stylesheet")

body
  h1= title
  p Welcome to #{title}

  h1= message
  h1= bravo
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")